{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWL Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/inputplayer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/background.css' %}">

</head>



<body>

  <div id = "title">

    <div class="noselect box-1">
        <form action="stats" method="GET">
            <button class="btn btn-one backgroundubtton" name = "gameStats" value="global" role="button"> 
              <span>GAME STATS</span>
            </button>        
        </form>
    </div>
    <div class="noselect box-1">
      <form action="https://legionhq.thefifthtrooper.com/" >
          <button class="btn btn-one backgroundubtton" name = "gameStats" value="global" role="button"> 
            <span>ARMY BUILDER</span>
          </button>        
      </form>
    </div>
    <div class="noselect box-1">
      <form action="https://discord.gg/RfrtmFCf" >
          <button class="btn btn-one backgroundubtton" name = 'discord' value="global" role="button"> 
            <span>DISCORD</span>
          </button>        
      </form>
    </div>
    <div class="noselect box-1">
      <form action="infos" method="GET">
          <button class="btn btn-one backgroundubtton" name = "infos" value="global" role="button"> 
            <span>SIMULATOR</span>
          </button>        
      </form>
    </div>

    
  </div>





<br>
<br> 
<div class="page">
  <label class="field field_v2 ">
    <input class="field__input" placeholder="Blue Player">
    <span class="field__label-wrap">
      <span class="field__label">Blue Player Name</span>
    </span>
  </label>
  <label class="field field_v2">
    <input class="field__input" placeholder="Red Player">
    <span class="field__label-wrap">
      <span class="field__label">Red Player Name</span>
    </span>
  </label>  
  <input type="file" accept=".csv" />
</div>  



<script>



</script>



</body>


</html>




