{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWL Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/inputplayer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/background.css' %}">

</head>



<body>

  <div id = "title">

    <div class="noselect box-1">
        <form action="stats" method="GET">
            <button class="btn btn-one backgroundubtton" name = "gameStats" value="global" role="button"> 
              <span>GAME STATS</span>
            </button>        
        </form>
    </div>
    <div class="noselect box-1">
      <form action="https://legionhq.thefifthtrooper.com/" >
          <button class="btn btn-one backgroundubtton" name = "gameStats" value="global" role="button"> 
            <span>ARMY BUILDER</span>
          </button>        
      </form>
    </div>
    <div class="noselect box-1">
      <form action="https://discord.gg/RfrtmFCf" >
          <button class="btn btn-one backgroundubtton" name = 'discord' value="global" role="button"> 
            <span>DISCORD</span>
          </button>        
      </form>
    </div>
    <div class="noselect box-1">
      <form action="infos" method="GET">
          <button class="btn btn-one backgroundubtton" name = "infos" value="global" role="button"> 
            <span>SIMULATOR</span>
          </button>        
      </form>
    </div>

  </div>



  <div class="page">
    <label class="field field_v2 ">
      <input class="field__input" placeholder="Blue Player">
      <span class="field__label-wrap">
        <span class="field__label">Blue Player Name</span>
      </span>
    </label>
    <label class="field field_v2">
      <input class="field__input" placeholder="Red Player">
      <span class="field__label-wrap">
        <span class="field__label">Red Player Name</span>
      </span>
    </label>  
  </div>




<div class="spacetableau"> 
  <div class = "noselect tableau">
    <table class="styled-table styled-tablegreen">
      
      <thead>
          <tr >  
              <th> Meilleurs jets </th>
              <td>Joueur</td>
              <td> Att / Def </td>
              <td> Round </td>
              <td> Unité </td>
          </tr>
      </thead>
      <tbody>
          <tr >
            <td  class="playercol"> 1 </td>
            {% for general in 1BestThrow %}
              <td>{{general}}</td>
            {% endfor %}
          </tr>
          <tr >
            <td  class="playercol"> 2 </td>
            {% for general in 2BestThrow %}
              <td>{{general}}</td>
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> 3 </td>
            {% for general in 3BestThrow %}
              <td>{{general}}</td>
            {% endfor %}
          </tr>
    
      </tbody>
  </table>  
  </div>
</div>

  

  <div class = "noselect tableau">
    <table class="styled-table">
      <thead>
          <tr>  
              <th></th>
              <td>Total dice Launched</td>
              <td>Number of attack dice Launched</td>
              <td>Number of defence Launched</td>
          </tr>
      </thead>
      <tbody>

          <tr>
              <td  class="playercol"> {{BluePlayer}}</td>
              <td>{{numberDiceLaunchedBlue}}</td>
              <td>{{numberDiceLaunchedBlueAtt}}</td>
              <td>{{numberDiceLaunchedBlueDef}}</td>

          </tr>
          <tr >
              <td  class="playercol">{{RedPlayer}}</td>
              <td>{{numberDiceLaunchedRed}}</td>
              <td>{{numberDiceLaunchedRedAtt}}</td>
              <td>{{numberDiceLaunchedRedDef}}</td>
          </tr>
          <!-- and so on... -->
      </tbody>
  </table>  
</div>

<div class="lucktablea">


  <div class = "noselect tableau">
    <table class="styled-table styled-tableblue">
      <thead>
          <tr>  
              <th>{{BluePlayer}}</th>
              <td>General</td>
              <td>Attack</td>
              <td>Defence</td>
          </tr>
      </thead>
      <tbody>
          <tr class="generalline">
              <td  class="playercol"> Mean </td>
              {% for general in luckBlueGeneral %}
                {% if 1 > general  %}
                  <td class = "nonetext"> ---     </td>
                {% elif general > 52 %}
                  <td class = "greentext">{{general}} %</td>
                {% elif 48 > general  %}
                  <td class = "redtext">{{general}} %</td>
                {% else %}
                  <td class = "yellowtext">{{general}} %</td>
                {% endif%}
              {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round1 </td>
            {% for general in luckBlueRound1 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
              {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round2 </td>
            {% for general in luckBlueRound2 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round3 </td>
            {% for general in luckBlueRound3 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round4 </td>
            {% for general in luckBlueRound4 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round5 </td>
            {% for general in luckBlueRound5 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round6 </td>
            {% for general in luckBlueRound6 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52  %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
      </tbody>
    </table>  
  </div>
  
  
  <div class = "noselect tableau">
    <table class="styled-table styled-tablered">
      <thead>
          <tr>   
              <th>{{RedPlayer}}</th>
              <td>General</td>
              <td>Attack</td>
              <td>Defence</td>
          </tr>
      </thead>
      <tbody>
          <tr class="generalline">
              <td  class="playercol"> Mean </td>
              {% for general in luckRedGeneral %}
                {% if 1 > general  %}
                  <td class = "nonetext"> ---     </td>
                {% elif general > 52 %}
                  <td class = "greentext">{{general}} %</td>
                {% elif 48 > general  %}
                  <td class = "redtext">{{general}} %</td>
                {% else %}
                  <td class = "yellowtext">{{general}} %</td>
                {% endif%}
              {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round1 </td>
            {% for general in luckRedRound1 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
              {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round2 </td>
            {% for general in luckRedRound2 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round3 </td>
            {% for general in luckRedRound3 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round4 </td>
            {% for general in luckRedRound4 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round5 </td>
            {% for general in luckRedRound5 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
              {% endfor %}
          </tr>
          <tr>
            <td  class="playercol"> Round6 </td>
            {% for general in luckRedRound6 %}
              {% if 1 > general  %}
                <td class = "nonetext"> ---     </td>
              {% elif general > 52 %}
                <td class = "greentext">{{general}} %</td>
              {% elif 48 > general  %}
                <td class = "redtext">{{general}} %</td>
              {% else %}
                <td class = "yellowtext">{{general}} %</td>
              {% endif%}
            {% endfor %}
          </tr>
      </tbody>
    </table>  
  </div>
</div>

    

<!-- BEST THROW


<div class="spacetableau noselect"> 
  <div class="wrapper noselect">
    <div class="clip-text clip-text_one noselect">Round 1</div>
  </div>
</div>
-->

<br>
<br>

<script>



</script>



</body>


</html>




