li a {
    color: green;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}



td[data-result-val="L"] { color: red;}
td[data-result-val="W"] { color: green;}
td[data-result-val="D"] { color: grey;}